@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Mi nombre es @ViewBag.Nombre</p>
    <p>En esta página vas a poder comprar indumentaria deportiva para tus equipos favoritos!</p>
    <p>Podes presionar en la parte superior izquierda, o <a href='@Url.Action("SelectIndumentaria", "Home")'>aqui</a> para empezar a comprar!</p>
</div>
