@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Ort en Info</a>.</p>
    <p>Mi nombre es @ViewBag.Nombre</p>

    <a href='@Url.Action("Privacy", "Home")'>Presione aqui</a>
</div>
