@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>En la empresa Wild Games Experience nos reservamos el derecho de admisión al edificiode las oficinas ubicado en Yatay 240, Edificio 1 - Piso 1. Concretamente ene el aula CIDI</p>
