@{
    ViewData["Title"] = "Productos";
}

<body>


    <h1 class="text-center">Medias de Máxima  calidad</h1>
    <section class="">
        <div class="container px-3 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


            @foreach(string media in ViewBag.Medias) {
                int i = 0;
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/img/@media" width=400 alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@ViewBag.NameMedia[i]</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir al carrito</a></div>
                        </div>
                    </div>
                </div>
                i++;
            }

            </div>
        </div>
    </section>
</body>

